---
http_interactions:
- request:
    method: get
    uri: https://v6.exchangerate-api.com/v6/sensitive-data/pair/INR/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"error","documentation":"https://www.exchangerate-api.com/docs","terms-of-use":"https://www.exchangerate-api.com/terms","error-type":"invalid-key"}'
  recorded_at: Thu, 09 Jul 2026 06:53:44 GMT
recorded_with: VCR 6.4.0
