---
http_interactions:
- request:
    method: get
    uri: https://v6.exchangerate-api.com/v6/sensitive-data/pair/INR/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"success","documentation":"https://www.exchangerate-api.com/docs","terms_of_use":"https://www.exchangerate-api.com/terms","time_last_update_unix":1783555202,"time_last_update_utc":"Thu,
        09 Jul 2026 00:00:02 +0000","time_next_update_unix":1783641602,"time_next_update_utc":"Fri,
        10 Jul 2026 00:00:02 +0000","base_code":"INR","target_code":"USD","conversion_rate":0.01046}'
  recorded_at: Thu, 09 Jul 2026 06:52:52 GMT
recorded_with: VCR 6.4.0
